@typeparam TViewModel

@if (Left != null)
{
    <div class="md-item-template-left">
        @Left
    </div>
}

<section class="md-item-template-center">
    <header>
        <a href="@ItemUri(Item)">
            @ItemTitle(Item)
        </a>

        <div>
            @GetTopDetails()
        </div>
    </header>

    <div>
        @GetBottomDetails()
    </div>
</section>

@if (Right != null)
{
    <div class="md-item-template-right">
        @Right
    </div>
}

<aside class="md-item-template-actions">
    @if (_confirmationPending)
    {
        <Button Class="squared success-fill"
                IconLeft="bi bi-check"
                IconLeftSize="18px"
                Disabled="@Context.Busy"
                OnClick="@OnDelete" />

        <Button Class="squared danger-fill"
                IconLeft="bi bi-x"
                IconLeftSize="18px"
                Disabled="@Context.Busy"
                OnClick="@ToggleConfirmation" />
    }
    else
    {
        <Button Class="squared danger"
                IconLeft="bi bi-x"
                IconLeftSize="18px"
                Disabled="@Context.Busy"
                OnClick="@ToggleConfirmation" />
    }
</aside>
