@typeparam TViewModel

@if (Item == null)
    return;

<div class="md-form">
    <Form Item="@Item" Context="formContext">
        @{
            Context = CreateNewContext(Item, formContext);
            var subtitle = GetSubtitle();
        }

        <header>
            <div class="md-form-title">
                <Button Class="squared flat" OnClick="@NavigateBack" Disabled="@(IsBusy || formContext.IsValidating)">
                    <i class="md-form-redirect bi bi-arrow-left"></i>
                </Button>

                <div>
                    @Title(Context)
                </div>
            </div>

            @if (subtitle != null)
            {
                <div class="md-form-subtitle">
                    @subtitle
                </div>
            }
        </header>

        <main>
            @ChildContent(Context)
        </main>

        <footer>
            <Button Class="alt"
                    Type="submit"
                    IconLeft="bi bi-check2"
                    IconLeftSize="18px"
                    OnClick="@SaveAsync"
                    Disabled="@(IsBusy || formContext.IsValidating)">

                @Localizer["Save"]
            </Button>
        </footer>
    </Form>
</div>
