@typeparam TItem

@{
    var itemGroups = GetItemGroups();
    var selectedItemGroup = GetSelectedItemGroup(itemGroups);
}

<div class="c-container-list">
    <header>
        <Textbox Placeholder="@Localizer["TypeToSearch"]" @bind-Value="@_searchTerm" />

        @if (Header != null)
        {
            @Header
        }

        @if (_canSort)
        {
            @* TODO -> Dropdown with sort options *@
            <Button>
                @Localizer["Sort"]
            </Button>
        }
    </header>

    <section>
        @foreach (var item in selectedItemGroup)
        {
            <div class="c-container-list-item">
                @if (Item != null)
                {
                    @Item(item)
                }
                else if (Template != null && TemplateParameterFactory != null)
                {
                    var parameters = TemplateParameterFactory(item);
                    <DynamicComponent Type="@Template" Parameters="@parameters" />
                }
            </div>
        }
    </section>

    @if (Pageable)
    {
        <footer>
            @{
                var previousEnabled = CurrentPage > 1;
                var nextEnabled = CurrentPage < itemGroups.Count;
            }

            <Button Class="squared alt"
                    IconLeft="bi bi-arrow-left"
                    IconLeftSize="12px"
                    Disabled="@(!previousEnabled)"
                    OnClick="@(async () => await SelectItemGroupAsync(CurrentPage - 1))" />

            @foreach (var itemGroup in itemGroups)
            {
                <Button Class="squared" Active="@(itemGroup.Key == CurrentPage)" OnClick="@(async () => await SelectItemGroupAsync(itemGroup.Key))">
                    @itemGroup.Key
                </Button>
            }

            <Button Class="squared alt"
                    IconLeft="bi bi-arrow-right"
                    IconLeftSize="12px"
                    Disabled="@(!nextEnabled)"
                    OnClick="@(async () => await SelectItemGroupAsync(CurrentPage + 1))" />
        </footer>
    }
</div>
