@typeparam TItem
@inherits ListComponentBase<TItem>

@{
    var itemGroups = GetItemGroups();
    var selectedItemGroup = GetSelectedItemGroup(itemGroups);
}

<div class="c-edit-list">
    @if (Searchable || _canSort || Header != null)
    {
        <header>
            @if (_canSort)
            {
                <DropdownList TItem="@(ListSortOption<TItem>)"
                              Items="@SortOptions"
                              @bind-SelectedItem="@_selectedSortOption"
                              DisplayValue="@(s => s.Name)"
                              Placeholder="@Localizer["Sort"]"
                              OnlyShowPlaceholder="@true"
                              IconRight="bi bi-filter"
                              Width="fit-content"
                              Disabled="@GetDisabled()" />
            }

            @if (Searchable)
            {
                <TextBox Placeholder="@Localizer["TypeToSearch"]"
                         Value="@_searchTerm"
                         OnChange="@((value) => _searchTerm = value)"
                         Disabled="@GetDisabled()" />
            }

            @if (Header != null)
            {
                @Header
            }
        </header>
    }

    <section>
        @if (selectedItemGroup.Count > 0)
        {
            @foreach (var item in selectedItemGroup)
            {
                var isSelected = _selectedItem == item;

                <div class="@GetItemClasses(isSelected)" @ondblclick="@(async () => await SelectAsync(item))">
                    @if (isSelected && Inline != null)
                    {
                        <section>
                            @Inline(item)
                        </section>

                        <aside>
                            <Button Class="success" IconLeft="bi bi-check" OnClick="@SaveAsync" />
                            <Button Class="warning" IconLeft="bi bi-arrow-right" OnClick="@Cancel" />
                        </aside>
                    }
                    else if (Item != null)
                    {
                        <section>
                            @Item(item)
                        </section>

                        <aside>
                            <Button Class="flat" IconLeft="bi bi-pencil" OnClick="@(async () => await SelectAsync(item))" />
                            <Button Class="danger" IconLeft="bi bi-x" OnClick="@(async () => await DeleteAsync(item))" />
                        </aside>
                    }
                </div>
            }
        }
        else if (NoItems != null)
        {
            @NoItems
        }
        else
        {
            <span class="c-edit-list-no-items">
                @Localizer["NoItems"]
            </span>
        }

        @{
            var addDisabled = GetDisabled() || _selectedItem != null;
        }

        <button class="c-edit-list-new-item" @onclick="@AddNew" disabled="@addDisabled">
            <i class="bi bi-plus"></i>
        </button>
    </section>

    @if (Pageable && itemGroups.Count > 1)
    {
        <footer>
            @{
                var previousEnabled = CurrentPage > 1;
                var nextEnabled = CurrentPage < itemGroups.Count;
            }

            <Button Class="squared alt"
                    IconLeft="bi bi-arrow-left"
                    IconLeftSize="12px"
                    Disabled="@(!previousEnabled)"
                    OnClick="@(async () => await SelectItemGroupAsync(CurrentPage - 1))" />

            @foreach (var itemGroup in itemGroups)
            {
                <Button Class="squared" Active="@(itemGroup.Key == CurrentPage)" OnClick="@(async () => await SelectItemGroupAsync(itemGroup.Key))">
                    @itemGroup.Key
                </Button>
            }

            <Button Class="squared alt"
                    IconLeft="bi bi-arrow-right"
                    IconLeftSize="12px"
                    Disabled="@(!nextEnabled)"
                    OnClick="@(async () => await SelectItemGroupAsync(CurrentPage + 1))" />
        </footer>
    }
</div>
